@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a la Universidad Contoso</h2>
        <p>
            Universidad Contoso es una aplicación simple que demuestra
            cómo usar Entity Framework Core dentro de una aplicación web
            ASP.NET Core MVC
        </p>
    </div>
    <div class="col-md-4">
        <h2>Creada desde cero</h2>
        <p>Puedes construir esta aplicación siguiente los pasos en este tutorial </p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Mira el tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descargarlo</h2>
        <p>Puedes descargar el proyecto completo desde GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Revisa el código fuente del proyecto &raquo;</a></p>
    </div>
</div>